.main-nav {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    background-color: #F2F2F2;
    color: #333333;
    padding: 0rem 4rem;
    transition: opacity 1s, max-height 1s;

    /* Add subtle depth */
    box-shadow: 
        inset 0 2px 4px rgba(0,0,0,0.05),  /* subtle inner shadow for depth */
        0 4px 6px rgba(0,0,0,0.1);         /* soft outer shadow for floating effect */

    /* Optional: slight gradient for more dimension */
    background: linear-gradient(180deg, #F2F2F2 0%, #EAEAEA 100%);

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        list-style: none;
        padding: 1rem;
        transition: 0.5s;
    }

    li:hover {
        border-radius: 5px;
        background-color: #FFD700;
        cursor: pointer;
    }

}

.header:hover .main-nav {
    opacity: 1;
    max-height: 500px;
}

a {
    color: #333333;
    text-decoration: none;
}
